flows.json
[
    {
        "id": "1bf64d2eb759bea2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3324903656728b3",
        "type": "ui_gauge",
        "z": "1bf64d2eb759bea2",
        "name": "",
        "group": "5a74fb001a4702f9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 20,
        "wires": []
    },
    {
        "id": "1921d24e5c2393f2",
        "type": "ui_gauge",
        "z": "1bf64d2eb759bea2",
        "name": "",
        "group": "8ea171e8c92279d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "2f195bc50b9bc779",
        "type": "ui_chart",
        "z": "1bf64d2eb759bea2",
        "name": "",
        "group": "5a74fb001a4702f9",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5eed81eba81102b6",
        "type": "ui_chart",
        "z": "1bf64d2eb759bea2",
        "name": "",
        "group": "8ea171e8c92279d6",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "16ccc54e662d7bcb",
        "type": "ui_switch",
        "z": "1bf64d2eb759bea2",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "bb6a7f26dcc78941",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "f0b5190f95e198dc"
            ]
        ]
    },
    {
        "id": "f0b5190f95e198dc",
        "type": "mqtt out",
        "z": "1bf64d2eb759bea2",
        "name": "",
        "topic": "lights",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ae5f883e5e32af2",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "1723358e1b64e1db",
        "type": "mqtt in",
        "z": "1bf64d2eb759bea2",
        "name": "",
        "topic": "Tempdata",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6ae5f883e5e32af2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "7bafa87435ef2ddc",
                "9a903d9eb5d38124"
            ]
        ]
    },
    {
        "id": "7bafa87435ef2ddc",
        "type": "function",
        "z": "1bf64d2eb759bea2",
        "name": "Extract temperature",
        "func": "var input = msg.payload; // Assuming the input is in msg.payload\n\n// Remove any leading or trailing whitespace\ninput = input.trim();\n\n// Split the input string using commas as the delimiter\nvar values = input.split(',');\n\n// Remove leading and trailing whitespace from each value and convert to float\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[0]; // Set the output payload to the array of float values\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "b3324903656728b3",
                "2f195bc50b9bc779"
            ]
        ]
    },
    {
        "id": "9a903d9eb5d38124",
        "type": "function",
        "z": "1bf64d2eb759bea2",
        "name": "Extract humidity",
        "func": "var input = msg.payload; // Assuming the input is in msg.payload\n\n// Remove any leading or trailing whitespace\ninput = input.trim();\n\n// Split the input string using commas as the delimiter\nvar values = input.split(',');\n\n// Remove leading and trailing whitespace from each value and convert to float\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[1]; // Set the output payload to the array of float values\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "1921d24e5c2393f2",
                "5eed81eba81102b6"
            ]
        ]
    },
    {
        "id": "3a176b8a96e15f80",
        "type": "ui_spacer",
        "z": "1bf64d2eb759bea2",
        "name": "spacer",
        "group": "5a74fb001a4702f9",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "65d5c9a455dfb3aa",
        "type": "ui_spacer",
        "z": "1bf64d2eb759bea2",
        "name": "spacer",
        "group": "5a74fb001a4702f9",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "238c92226b050201",
        "type": "ui_spacer",
        "z": "1bf64d2eb759bea2",
        "name": "spacer",
        "group": "8ea171e8c92279d6",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "99f352f22468c89e",
        "type": "ui_spacer",
        "z": "1bf64d2eb759bea2",
        "name": "spacer",
        "group": "8ea171e8c92279d6",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "5a74fb001a4702f9",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "609b23c167fc7682",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ea171e8c92279d6",
        "type": "ui_group",
        "name": "Humidity ",
        "tab": "609b23c167fc7682",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb6a7f26dcc78941",
        "type": "ui_group",
        "name": "LED",
        "tab": "609b23c167fc7682",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ae5f883e5e32af2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "609b23c167fc7682",
        "type": "ui_tab",
        "name": "Bhuvi's Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]